* {
  font-family: Arial, Helvetica, sans-serif;
}

/* ------navbar styling ----------------------- */
.navbar-nav {
  font-size: small;
}
.navbar-toggler,
.navbar-toggler:hover {
  border: 3px solid white;
  background-color: white;
}
.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* -------custom sroll bar -------------- */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: gray;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(blue, orange, pink);
}

.home-page-introduction .image-wrapper {
  background-image: url("./Profile.img.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
}
.home-page-introduction .home-page-introduction-info .greeting-wrapper {
  font-size: clamp(2rem, 3rem, 3rem);
}
.home-page-introduction
  .home-page-introduction-info
  .greeting-wrapper
  .greeting {
  font-weight: bold;
  background: linear-gradient(to left, orange 0%, red 100%);
  background-clip: text;
  color: transparent;
}
.home-page-introduction .home-page-introduction-info .profile-name {
  color: white;
  /* font-size: 2.2rem; */
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  /* background: url("./backgrund.jpg"); */
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.home-page-introduction .home-page-introduction-info .designation {
  color: rgba(255, 255, 255, 0.678);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.home-page-introduction .home-page-introduction-info .resume-line {
  color: gray;
  font-size: 12px;
  word-spacing: 3px;
}

/* -------------------------------waste code ---------------------- */

.redi {
  height: 100vh;
  background-color: black;
}
.orangei {
  height: 100vh;
  background-color: orange;
}
.blue {
  height: 100vh;
  background-color: blue;
}

/* Media query for screens greater than 576 pixels */

@media (min-width: 576px) {
  .nav-link {
    position: relative;
    transition: all 0.4s;
  }

  .nav-link:hover {
    color: white;
  }

  .nav-link::after {
    content: " ";
    height: 2px;
    width: 100%;
    background: white;
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
  }

  .nav-link:hover::after {
    opacity: 1;
    transition: all 0.8s;
  }
  .image-wrapper .home-page-introduction-info {
    position: absolute;
    inset: 70% 0px 0px 40%;
    transform: translate(-50%, -50%);
  }
  .home-page-introduction .home-page-introduction-info .profile-name {
    font-size: 3rem;
  }
  .home-page-introduction .home-page-introduction-info .designation {
    font-size: clamp(1.2rem, 1.3rem, 1.7rem);
  }
}
.skills {
  color: white;
  height: 100vh;
}
.skills .skill-head {
  display: flex;
  justify-content: center;
}
.skill_container {
  display: flex;
  gap: 40px;
  padding-left: 15px;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.skill_container::-webkit-scrollbar {
  display: none;
}

/* Media query for screens lesser than 576 pixels */
@media (max-width: 576px) {
  .image-wrapper .home-page-introduction-info {
    position: absolute;
    inset: 70% 0px 0px 35%;
    transform: translate(-50%, -50%);
  }
  .home-page-introduction .home-page-introduction-info .profile-name {
    font-size: clamp(1.1rem, 1.7rem, 3rem);
    /* font-size: 2rem; */
  }
  .home-page-introduction .home-page-introduction-info .designation {
    font-size: 1.2rem;
  }
}
