* {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
html {
  scroll-behavior: smooth;
}
/* ------navbar styling ----------------------- */
.navbar-nav {
  font-size: small;
}
.navbar-toggler,
.navbar-toggler:hover {
  border: 3px solid white;
  background-color: white;
}
.nav-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

/* -------custom sroll bar -------------- */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: gray;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(blue, orange, pink);
}

.home-page-introduction .image-wrapper {
  background-image: url("./Profile.img.jpeg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  width: 100%;
  height: 100vh;
  margin: auto;
  position: relative;
}
.home-page-introduction .home-page-introduction-info .greeting-wrapper {
  font-size: 4rem;
}
.home-page-introduction
  .home-page-introduction-info
  .greeting-wrapper
  .greeting {
  font-weight: bold;
  background: linear-gradient(to left, orange 0%, red 100%);
  background-clip: text;
  color: transparent;
}
.show {
  opacity: 0;
  animation: fadeIn 8s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.home-page-introduction .home-page-introduction-info .profile-name {
  color: white;
  font-size: 2.9rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 20s linear infinite;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}

.home-page-introduction .home-page-introduction-info .designation {
  color: rgba(255, 255, 255, 0.678);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.home-page-introduction .home-page-introduction-info .resume-line {
  color: gray;
  font-size: 13px;
  word-spacing: 3px;
}
/* featur project --- */
.feature-banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.feature-banner .feature-wrapper {
  width: 330px;
  height: 330px;
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: relative;
}
.feature-wrapper .feature-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.feature-wrapper .feature-container img {
  width: 300px;
  height: 300px;
  transition: transform 1s ease;
}
.feature-wrapper .feature-container img:hover {
  transform: scale(1.2);
}
.feature-wrapper .feature-container .feature-heading {
  position: absolute;
  bottom: 0;
  width: 300px;
  height: 55px;
  background-color: #333333;
}
.feature-wrapper .feature-container .link-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 180px;
  height: 40px;
  padding: 10px 0px 5px 20px;
  border-radius: 20px;
  background-color: #333333;
}
.feature-wrapper .feature-container .link-icon:hover {
  background-color: #457ebe;
}

.feature-wrapper .feature-container .feature-heading p {
  font-weight: bold;
  font-size: 1.2rem;
}

/* -----------about Section style--- */

.about_section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
  padding-top: 30px;
}
.image-abt {
  width: 400px;
  height: 400px;
  background-image: url("./profileImage.JPG");
  background-position: 0% 20%;
  background-size: cover;
  border-radius: 25px;
  box-shadow: 0 4px 8px 4px rgba(114, 111, 111, 0.2),
    0 6px 20px 0 rgba(83, 79, 79, 0.19);
}

.about_section .about_bio {
  width: 500px;
  height: 400px;
  padding: 0px 20px 0px 20px;
}
.about_section .about_bio .about-content .text {
  color: gray;
}

.certificates {
  max-width: 100%;
}
.skills {
  max-width: 100%;
}

.btn-abt-sec {
  background-color: gray;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 8px 25px;
  cursor: pointer;
  font-size: 15px;
}

/* Media query for screens greater than 576 pixels */

@media (min-width: 576px) {
  .nav-link {
    position: relative;
    transition: all 0.4s;
  }

  .nav-link:hover {
    color: white;
  }

  .nav-link::after {
    content: " ";
    height: 2px;
    width: 100%;
    background: white;
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    opacity: 0;
  }

  .nav-link:hover::after {
    opacity: 1;
    transition: all 0.8s;
  }
  .image-wrapper .home-page-introduction-info {
    position: absolute;
    inset: 70% 0px 0px 40%;
    transform: translate(-50%, -50%);
  }
}
/* skills */
.skills .skill_container {
  width: 100%;
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 0px 20px 30px 20px;
}
.skills .skill_container::-webkit-scrollbar {
  display: none;
}
.skills .skill_container .skill-image {
  min-width: 170px;
  height: 195px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 10px;
  display: grid;
  justify-content: center;
  align-items: center;
}
.skills .skill_container .skill-image .skill-name {
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.box {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
/* --certificates--- */
.certificates .certificate-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
.certificates .certificate-wrapper .cerit-image-content {
  width: 320px;
  height: 500px;
  background-color: #333333;
}
.certificates
  .certificate-wrapper
  .cerit-image-content.certi-info
  .heading-cert {
  font-size: 20px;
  padding-bottom: 10px;
}

.certificates
  .certificate-wrapper
  .cerit-image-content.certi-info
  .sub-heading-cert {
  font-size: 17px;
}
.cert-image {
  width: 100%;
  height: 300px;
}
a {
  text-decoration: none;
  color: #9cc964;
}
.certi-info {
  padding-block: 35px;
  padding-inline: 20px;
}
.heading {
  padding: 30px 0px 20px 0px;
  font-size: 1.875rem;
  font-weight: 100;
}
.heading .head-line-s {
  font-size: 1.875rem;
  font-weight: 700;
  margin-left: 10px;
}
.certificate-head {
  padding: 10px 0px 30px 0px;
}
/* --------form section------ */

.form {
  width: 400px;
}
.contact-heading {
  padding: 10px 0px 10px 0px;
}
.head-line {
  color: #9cc964;
}
.sub-line {
  color: gray;
}
input,
textarea {
  width: 100%;
  padding: 6px;
  outline: none;
  border: none;
  margin: 6px 0px;
  padding: 10px;
  border-radius: 10px;
  background-color: #333333;
}
input:focus {
  border: 1px solid gray;
}
.submit-btn {
  width: 200px;
  height: 40px;
  padding: 6px;
  border-radius: 25px;
  cursor: pointer;
  background-color: #6d625f;
  outline: none;
  border: none;
}
.form-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 50px;
}
.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #6d625f;
  margin-bottom: 10px;
}
/* -----------------icons--------------- */
.icons {
  display: flex;
  justify-content: center;
  gap: 0px 20px;
  padding: 30px 0px 30px 0px;
}
.icons .icond-back-g {
  width: 40px;
  height: 40px;
  background-color: #6d625f;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}
.icons .icond-back-g i {
  color: #9cc964;
  font-size: 25px;
}
.via-phone {
  text-decoration: none;
  color: gray;
}
.developed {
  display: flex;
  justify-content: center;
}
/* --my resume --- */
.texts-g {
  color: gray;
}
.education {
  padding: 13px;
}
.details {
  max-width: 450px;
  background-color: #333333;
  padding: 15px 15px;
  margin-bottom: 15px;
}
.resume-wrapper {
  display: flex;
  gap: 20px 20px;
  flex-wrap: wrap;
}
.wrapper-align {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Media query for screens lesser than 576 pixels */
@media (max-width: 576px) {
  .image-wrapper .home-page-introduction-info {
    position: absolute;
    inset: 70% 0px 0px 35%;
    transform: translate(-50%, -50%);
  }

  .home-page-introduction .home-page-introduction-info .profile-name {
    font-size: 2.2rem;
  }
  .home-page-introduction .home-page-introduction-info .designation {
    font-size: 1.4rem;
  }

  .certificates .certificate-wrapper .cerit-image-content {
    width: 270px;
    height: 500px;
  }
  .image-abt {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
  }
  .form {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 380px) {
  .home-page-introduction .home-page-introduction-info .profile-name {
    font-size: 1.7rem;
  }
  .home-page-introduction .home-page-introduction-info .greeting-wrapper {
    font-size: 3rem;
  }
  .home-page-introduction .home-page-introduction-info .designation {
    font-size: 1.2rem;
  }
  .btn-abt-sec {
    min-width: 150px;
    height: auto;
    padding: 8px 10px;
  }
  .about_section {
    padding-bottom: 20px;
  }
}
